<%- include('header') %>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row form my-5 mx-auto">
          <form method="post" action="/users/resetPassword" class="mx-auto form" autocomplete="off">
            <div class="col-12 text-center mb-5">
              <img id="profile-img" src="/img/profile.png" alt="" />
            </div>

            <div class="col-12 text-center">
              <span class="display-4 wel-font">Reset Password</span>
            </div>
            <%errors.forEach(error=>{%>
              <div class="col-12 my-2 text-center">
                <div class="text-center alert alert-danger"><%=error%></div>
              </div>
              <%})%>
            <div class="col-12">
              <div
                class="text form-group justify-content-center mx-auto col-12"
              >
                <input
                  type="email"
                  id="email"
                  name="email"
                  <%= data[0].email%>
                  required
                />
                <label for="email"
                  ><span class="content">&nbsp;&nbsp;Email</span></label
                >
              </div>
          </div>
            <div class="col-12">
              <div
                class="text form-group justify-content-center mx-auto col-12"
              >
                <input
                  type="password"
                  id="pass"
                  class=" "
                  <%= data[0].password%>
                  name="password"
                  required
                />
                <label for="pass"
                  ><span class="content">&nbsp;&nbsp;Password</span></label
                >
              </div>
              </div>

              

            <div class="col-12">
              <div
                class="text form-group justify-content-center mx-auto col-12"
              >
                <input type="password" <%= data[0].rpassword%> id="rpass" class=" " name="rpassword" />
                <label for="rpass"
                  ><span class="content"
                    >&nbsp;&nbsp;Repeat your Password</span
                  ></label
                >
              </div>
            </div>

            <div class="col-12 my-5 mx-auto text-center">
              <button id="main-link" type="submit" class="button btn-lg">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
      <%- include('footer')%>
    
    
  </div>
</body>
