<%- include('header')%>

<body>
  <div class="container-fluid p-1 w-100">
    <%- include('nav')%>

    <div class="row mb-5 p-2 p-lg-5 mx-auto">
      <%success.forEach(message=>{%>
        <div class="col-8 alert alert-success text-center mx-auto">
          <%=message%>
        </div>
      <%})%>
      <%errors.forEach(message=>{%>
        <div class="col-8 alert alert-danger text-center mx-auto">
          <%=message%>
        </div>
      <%})%>
      <div class="col-12 col-lg-6 mx-auto order-lg-12">
        <img src="/img/main.png" id="main-img" alt="" />
      </div>
      <div class="col-12 col-lg-6 mt-5 mx-auto order-lg-1 p-3 p-lg-5 shadow">
        <h1 class="font-weight-bold main-h1">Placement Training</h1>
        <p class="h4 mt-5 main-desc">
          Unofficial site for Placement Activities of 2018-2020 batch, Information Technology.
          One stop for all placement related updates, quizzes,
          problems and more.
        </p>
        <div class="d-flex mt-4 justity-content-start align-items-center flex-wrap">
          
        <%if(!name){%>
        <a
          href="/users/signup"
          class="button btn-lg d-inline-block ml-0 mr-3 main-link text-center"
          >Sign Up</a
        >
        <%}else{%>
          <a
          href="#events"
          class="button btn-lg d-inline-block ml-0 mr-3 main-link text-center"
          >Events</a
        >
        <%}%>
        <%if(name && role==="admin"){%>
        <a
          href="/events/add"
          class="button btn-lg add-event d-inline-block ml-0 mr-3 main-link text-center"
          >Add Events</a
        ><%}%>
        </div>
        
      </div>
    </div>
    <div id="events" class="container-fluid ">
      <div class="row">
        <div class="col-12 ">
          <h1 class="text-center mx-auto">Events</h1>
        </div>
      </div>
      <!-- <div class="row d-flex align-items-center justify-content-center my-5">
          <div class="card mx-auto"style="width:20rem;">
            <img class="card-img-top" src="/img/crossword.jpg" alt="Crossword Image">
            <div class="card-body">
              <h5 class="card-title">Crosswords</h5>
              <p class="card-text">Crosswords are always fun to solve. Check some of our Geeky Crosswords</p>
              <a href="/events/crossword/getall" class="btn button">Go</a>
            </div>
        </div> -->
        <div class="row my-5">
          <div class="col-lg-6 text-center">
          <img src="/img/crossword.png" style="width:100%;height;100%;object-fit:center" class="mx-auto" alt="crossword">
          </div>
          <div class="crossword-desc col-lg-6 mx-auto d-flex align-items-center">
            <div>
            <h3>Crosswords</h3>
            <p class="my-auto">A crossword is a word puzzle and word search game that usually takes the form of a square or a rectangular grid of white- and black-shaded squares. The game's goal is to fill the white squares with letters, forming words or phrases, by solving clues, which lead to the answers. In languages that are written left-to-right, the answer words and phrases are placed in the grid from left to right and from top to bottom.
              Crosswords are always fun to solve.<strong>
              Check some of our Geeky Crosswords<strong></p>    
            </p>
            <a class="button d-inline-block my-2"href="/events/crossword/getAll">Crosswords</a>
          </div>
          </div>
        </div>
    </div></div>
    <%- include('footer')%>
  </div>
</body>
